
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body{
    background-color: #131722 !important;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}
 /*24baef*/
.vote{
background: #24baef;
padding: 5px;
font-weight: 900;
color: #fff;
}

.second-color{
color:#949cb0 !important;
}

.brdr{
    background-color: #a8a8a83d;
    height: 2px;
}